*{
    font-family: 'Lato', sans-serif;
}
.redirect {
    color: white;
}

.top-section header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: rgba(74, 109, 223, 0.959);
    height: 4rem;
}

.logo {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}

.search>input {
    width: 30rem;
    height: 2rem;
    border-radius: 4px;
    border: 0px;
}

.loginin,
.mini-cart {
    font-size: 15px;
    color: white;
}

.mini-cart {
    display: flex;
    align-items: center;
    gap: 10%;
}

.menu-icon {
    font-size: 40px;
    padding-top: 0.7rem;
}

header ion-icon {
    color: white;
    font-size: 20px;
}

.loginin {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10%;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: black;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 10px 10px;
    margin-top: 0px;
}

.category-section {
    background-color: rgba(192, 192, 192, 0.371);
    font-size: 16px;
    font-family: sans-serif;
}

.cn-menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cn-menu ion-icon {
    color: gray;
}
.signin-page{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 5% 20%;
}
.main-signin{
    margin: 0 auto;
}
p{
    color: gray;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: small;
}
p+input{
    height: 25px;
    border: 0.5px solid gray;
    border-radius: 4px;
}
#submit-btn{
    width: 50px;
    height: 50px;
    font-size: larger;
    border: 0px;
    border-radius: 50%;
    background-color: rgb(90, 146, 251);
    color: white;
    margin-left: 20%;
}
input{
    width: 100%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 10px;
}
.input-control input:focus{
    outline: 0;
 }
 .checkpass, .checkmail{
    font-size: 12px;
    color: red;
 }